---
---

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: #fff;
  color: #222;
}

.layout {
  display: flex;
  min-height: 100vh;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}


/* FONTS */

body {
  font-family: 'Crimson Pro', serif;
  //font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

h1, h2, h3 {
  font-weight: 600;
}


/* SIDEBAR */

.sidebar {
  width: 200px;
  background-color: #fcfcfc;
  padding: 1rem;
  //border-right: 1px solid #000;
   text-align: right;

  @media (max-width: 768px) {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
	text-align: left;
  }
}

.sidebar h1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  
  @media (max-width: 768px){
	  display: inline-block;
	  margin-right: 1rem;
  }
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    flex-direction: row;
	align-items: center;
    flex-wrap: wrap;
  }
}

.sidebar nav li {
  margin-bottom: 0.5rem;

  @media (max-width: 768px) {
    margin: 0 1rem 0 0;
  }
}

.sidebar nav a {
  text-decoration: none;
  color: #333;
}



/* GENERAL */

.content {
  flex: 1;
  //margin: 0 auto;
  padding: 2rem;
  max-width: 700px;
}

body {
  background: #fcfcfc;
}

.content img {
  max-width: 100%;   /* Prevents image from overflowing container */
  height: auto;      /* Keeps aspect ratio */
  max-height: 400px; /* Limits image height */
  display: block;
  margin: 1rem 0;
}

img, iframe, .embed {
  display: block;
  max-width: 100%;
  //margin: 0 auto;
  margin: 2rem 0;
}



/* INDEX PAGE */

.bio-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;  /* space between photo and bio */
  margin: 2rem 0;
  
  @media (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
    }
}

.bio-photo {
  max-width: 200px;  /* adjust size */
  height: auto;
  // border-radius: 8px; /* optional: rounded corners */
  flex-shrink: 0;     /* prevents shrinking */
}

.bio-text {
  flex: 1;  /* take remaining space */
}